
@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<form action="" method="post" class="form-horizontal">
    <h4>User</h4>
    <hr />
    <div class="form-group">
        <label for="name" class="control-label col-md-2">User Name</label>
        <div class="col-md-10">
            <input type="text" placeholder="Name" name="UserName" class="form-control" />
        </div>

        <br /><br />

        <label for="UserType" class="control-label col-md-2">User Type</label>
        <div class="col-md-10">
            <input class="form-control" list="types" name="UserType" id="usertype">
            <datalist id="types">
                <option value="Restaurant">
                <option value="Admin">
                <option value="Employee">
            </datalist>
        </div>

        <br /><br />

        <label for="password" class="control-label col-md-2">Password</label>
        <div class="col-md-10">
            <input type="password" placeholder="Password" name="Password" class="form-control" />
        </div>

        <br /><br />

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-default" />
        </div>
    </div>
    <div>
        <a href="//index" class="">Back to List</a>
    </div>
</form>