
@{
    ViewBag.Title = "Restaurant";
}

<h2>Restaurant</h2>

<form action="" method="post" class="form-horizontal">
    <h4>Welcome </h4>
    <hr />
    <div class="form-group">
        <label for="name" class="control-label col-md-2">Restaurant Name</label>
        <div class="col-md-10">
            <input type="text" placeholder="Name" name="RestaurantName" class="form-control" />
        </div>

        <br /><br />

        <label for="name" class="control-label col-md-2">Food Name</label>
        <div class="col-md-10">
            <input type="text" placeholder="Name" name="FoodName" class="form-control" />
        </div>

        <br /><br />

        <label for="time" class="control-label col-md-2">Preservation Time</label>
        <div class="col-md-10">
            <input type="datetime-local" placeholder="" name="PreservationTime" class="form-control" />
        </div>

        <br /><br />

        <label for="quanty" class="control-label col-md-2">Quantity</label>
        <div class="col-md-10">
            <input type="text" class="form-control"  name="Quantity" >
           
        </div>

        <br /><br />

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Request" class="btn btn-default" />
        </div>
    </div>
    <div>
        <a href="//index" class="">Back to List</a>
    </div>
</form>